<%- contentFor("headContent") %>
<title>Food Oye <%= status %></title>

<%- contentFor("bodyContent") %>
<div id="err-status"><%= status %> <%= status_descp %></div>
<div id="err-trace"><%= err_trace %></div>