<%- contentFor("headContent") %>
<title><%= restDetails.name %></title>

<%- contentFor("bodyContent") %>
<div id="hotelA" class="container-fluid text-center"><br>
	<img width="350" height="200" src="https://firebasestorage.googleapis.com/v0/b/food-oye-d8e3b.appspot.com/o/app%2Frestaurant-bg.jpg?alt=media&token=0956caed-0346-4114-9f46-347a1ec75271" class="hotelA-image">
	<h2 id="headingHotelA"><%= restDetails.name %></h2>
	<span> Rating: <%= restDetails.rating %>/5 || <% restDetails.food_type.forEach((type) => { %> <%= type %> <% }); %><span><br>
	<span >
	<%= restDetails.address %><br>
	Kitchen Timings:-<br> <%= restDetails.timings.weekdays %> || <%= restDetails.timings.weekends_holidays %>
</span>
</div>

<section class="row container">

	<% categories.forEach
	(
		(category) =>
		{ %>
			<div class="col-md-3 col-sm-4 col-xs-4 col-6">
				<a href="/restaurant/dishes/<%= category.id %>">
					<div id="paneermenu-tile">
						<img width="150" height="150" src="<%= category.img %>">
						<span><%= category.name %><br></span>
					</div>
				</a>
			</div>
		<% }
	); %>
</section>
</div>